<h2>Home#index</h2>
<p><strong>Hello from Turbolinks!</strong> This demo app will help you get acquainted with the framework.</p>
<ul>
  <li><%= link_to 'Open a new page', home_one_path %> by following a regular link.</li>
</ul>

